html {
    background-image: url(./img/preview-1.jpg);
}

h1 {
    display: block;
    text-align: center;
}

canvas {
    background-image: url(./img/space-asteroid-surface-planet-with-craters-surface-space-planets-landscape-comet-crater-cartoon-illustration_102902-834.jpg);
    display: block;
    width: 756px;
    height: 600px;
    grid-column-start: 4;
    background-repeat: repeat;
    background-color: #222;
}

#playarea {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    margin: 0 auto;

}