body {
    background-image: url(./img/preview-1.jpg);
}

h1 {
    display: block;
    text-align: center;
    color: rgb(226, 198, 43);
    margin: 0px;
    border: outset;
    font-family: 'Press Start 2P';
    font-size: 24px;
}

#gameTitle {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 8;
    align-content: center;
    background-color: #222;
}

h2 {
    display: block;
    text-align: center;
    color: rgb(226, 198, 43);
}

canvas {
    background-image: url(./img/space-asteroid-surface-planet-with-craters-surface-space-planets-landscape-comet-crater-cartoon-illustration_102902-834.jpg);
    display: block;
    width: 756px;
    height: 600px;
    grid-column-start: 4;
    background-color: #222;
    box-shadow: 40px 45px 70px 10px rgb(30, 137, 186);
    border-radius: 10px;
    border: outset;
    border-width: medium;
}

#playarea {
    display: grid;
    grid-template-columns: repeat(10, 10%);

    /* grid-template-areas: "top-left top-left top-right"
        "game game game"
        "btm-left btm-right btm-right"; */
}

/* 
#top-left,
#top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Astronaut\ \(1\).png);
} */

#top-left {
    display: grid;
    grid-column-start: 3;
}

#timer {
    display: grid;
    font-size: x-large;
    color: rgb(226, 198, 43);
    border: outset;
    background-color: #222;
    margin: 0px;
}

#score {
    display: grid;
    border: outset;
    background-color: #222;
    margin: 0px;
}


#top-right {
    /* background-color: rgb(226, 198, 43); */
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    margin-bottom: auto;
    color: rgb(226, 198, 43);
}


#startButton {
    display: grid;
    border: outset;
    margin: 0px;
    grid-column-start: 3;
    grid-row-start: 2;
}

#resetButton {
    display: grid;
    border: outset;
    margin: 36px;
    grid-column-start: 2;
    grid-row-start: 1;
}

#directions {
    display: grid;
    grid-column-start: 9;
    grid-column-end: 11;
    font-size: 15px;
    background-color: blueviolet;
    border-radius: 15px;
    box-shadow: 40px 45px 70px 10px rgb(30, 137, 186);
    font-family: 'Press Start 2P';

}